<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ receta.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="titulo">Ingredientes</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{ receta.ingredientes }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="titulo">Instrucciones</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{ receta.instrucciones }}</ion-label>
  </ion-item>

  <ion-item>
    <img [src]="receta.imagen">
  </ion-item>
</ion-content>
