<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="home-page">
      <ion-card-title>Su Recetario Digital Personal</ion-card-title>
      <p>Aplicación móvil desarrollada con Ionic y Angular en la cual los usuarios pueden realizar las siguientes acciones:</p>
      <ul>
        <li><strong>Ver recetas existentes:</strong> La aplicación muestra una lista de recetas disponibles en una página principal llamada "Recetario". Cada receta se muestra con su nombre.</li>
        <li><strong>Agregar nuevas recetas:</strong> Los usuarios pueden agregar nuevas recetas a la aplicación utilizando un formulario. El formulario permite ingresar el nombre de la receta, la lista de ingredientes y las instrucciones para prepararla.</li>
        <li><strong>Ver detalles de una receta:</strong> Los usuarios pueden hacer clic en una receta en el recetario para ver los detalles completos de esa receta, incluidos los ingredientes y las instrucciones.</li>
      </ul>
      <p>Con estos aspectos básicos, los usuarios pueden administrar su propia colección de recetas y acceder fácilmente a ellas desde sus dispositivos móviles. La aplicación proporciona una forma conveniente de almacenar y consultar recetas en cualquier momento y lugar.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
